.formC{
    width:100%;
}

.formRows{
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.formCols{
    width:100%;
    display:inline-block;
}

.formLabels{
    width:30%;
    float:left;
    font-weight: bold;
}

.formInputs{
    width:60%;
    float:right;
}

.colContainer{
    display: flex;
    flex-direction: column;
}

.formikBtn{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.errMsg{
    font-weight:bold;
    font-size: 13px;
    color: #DC143C;
}